<div class="aboutme">
	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">About me:</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>
	<div style="width:30em;margin-bottom:1em;" class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Age:</span>
		  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>

	<div style="width:30em;margin-bottom:1em;" class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Birthday:</span>
		  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>

	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Education:</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>

	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Gender:</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>
</div>
