<div class="address">
	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Address:</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>

	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span  style="width:10em;" class="input-group-addon" id="basic-addon1">Hometown:</span>
	  <input style="width:20em;" type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>
	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Work</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>
	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Website</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>

	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Timezone</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>


	<div style="width:30em;margin-bottom:1em;" class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Email:</span>
	  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
	</div>

</div>