<!-- we should use http://masonry.desandro.com/ later on -->

<div class="userprofile">
	<div class="container-fluid">
		<div style="height:200px;margin:10px 20px 20px 25px;" class="headline">
			<div class="row">
				<div style="height:200px;width:15%;" class="thumbnail col-md-4">
					<img style="margin:5px;border-radius:100%;height:180px;" class="profileimage" src="images/user1/Tesla.jpg" /> 
				</div>
				<div style="height:200px;width:85%;background-image:url('images/user1/gran_canyon.jpg');background-repeat:no-repeat;background-size:cover;" class="thumbnail col-md-8">
				</div>
			</div>
		</div>
		<div style="height:50px;border-bottom: 0.1em solid black;" class="profilebar">
			<nav class="navbar-collapse" >
				<ul class="nav navbar nav-pills">
					<li><a href="#/user/details">About Me</a></li>
					<li><a href="#/user/infos">Pictures</a></li>
				</ul>
			</nav>
		</div>
		<div class="container">
			<div ui-view></div>
		</div>
	</div>

UserProfile

</div>