<div style="margin-top: 15px;width:1080px;" class="userdetails">

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User </h3>
			</div>
			<div style="" class="panel-body row">
				<div class="userdetailchoser">
					<ul class="nav nav-pill nav-stacked col-md-4">
						<li><a href="#/user/details/name">Name</a></li>
						<li><a href="#/user/details/aboutme">Tell more about you!</a></li>
						<li><a href="#/user/details/address">Address</a></li>
						<li><a href="#/user/details/relations">Relations</a></li>
					</ul>
				</div>

				<div style="" class="userdetailscontainer col-md-8">
					<div ui-view></div>
					<div style="margin-top:100px;margin-left:20em;" class="savebuttons row">
						<div class="save col-md-4">
							<button class="btn btn-success btn-lg">Save</button>
						</div>
					</div>
  				</div>
			</div>
		</div>
</div>