<div class="jumbotron">
  <h1>Share your holidays with your Friends!</h1>
  <p>You have enough from that nonsense facebook ? We, too. So show the world some real skills and things as your trip around the world! </p>
  <p><a href="#/signpu">Sign Up </a></p>
</div>
<div class="learn-more">
	<div class="container">
		<div class="row">
			<div class="about col-md-4">
				<h3>Share your Trips with your Friends</h3>
				<p>Share your trips with your friends, follow trips of your friends</p>
			</div>
			<div class="albums col-md-4">
				<h3>Track your holidays</h3>
				<p>You can track your holidays in nice organized albums</p>
			</div>
			<div class="explore col-md-4">
				<h3>Explore new places</h3>
				<p>Explore places which your friends already pictured for you</p>
			</div>
		</div>
	</div>
</div>